            @import url('https://fonts.googleapis.com/css2?family=Xanh+Mono&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
            @import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Slab&display=swap');
             :root {
                --main-bg-color: #ffd11a;
                --light-blue-color: #3f51b5;
                --gray: #e1e1e1;
                --max-width-font-size: 21px;
                --avg-width-font-size: 18px;
                --wp-admin-theme-color: #007cba;
                --wp-admin-theme-color-darker-10: #006ba1;
                --wp-admin-theme-color-darker-20: #005a87;
                --wp-admin-theme-color-darkest: #0a314d;
                ;
            }
            
            body,
            html {
                font-family: 'Hanh', 'Mono', sans-serif;
                display: block;
                margin: 0;
                overflow-x: hidden !important;
                padding: 0;
                font-size: var(--max-width-font-size);
            }
            
            *,
            *:before,
            *:after {
                box-sizing: inherit;
            }
            
            button,
            a {
                cursor: pointer;
            }
            
            .homeHeader {
                width: 100%;
                height: 100vh;
                background-image: url("photos/2.jpg");
                /* background-color: var(--wp-admin-theme-color-darkest); */
                background-position: center;
                opacity: 1;
                background-repeat: no-repeat;
                background-size: cover;
                position: relative;
            }
            
            .homeHeader h1 {
                position: absolute;
                top: 8vh;
                width: 100%;
                color: #fff;
                font-size: 3rem;
                text-align: center;
                text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
                animation: 2s 1 homeh1;
            }
            
            @keyframes homeh1 {
                0% {
                    color: black;
                    letter-spacing: 20px;
                    margin-top: -100vh;
                }
            }
            
            .mainText {
                position: absolute;
                top: 25vh;
                width: 100%;
                padding-top: 0px;
                display: flex;
                justify-content: center;
                align-items: center;
                color: #fff;
                text-shadow: 2px 2px 8px rgba(0, 0, 0, 1);
            }
            
            .mainText span {
                margin-top: 0%;
                margin: 0 3%;
            }
            
            .span1 {
                animation: text1 1s;
            }
            
            .span2 {
                animation: text2 2s;
            }
            
            .span3 {
                animation: text3 3s;
            }
            
            .span4 {
                animation: text4 4s;
            }
            
            @keyframes text1 {
                0% {
                    color: transparent;
                }
                100% {
                    color: #fff;
                }
            }
            
            @keyframes text2 {
                0% {
                    color: transparent;
                }
                100% {
                    color: #fff;
                }
            }
            
            @keyframes text3 {
                0% {
                    color: transparent;
                }
                100% {
                    color: #fff;
                }
            }
            
            @keyframes text4 {
                0% {
                    color: transparent;
                }
                100% {
                    color: #fff;
                }
            }
            /* =====================home page css================ */
            
            .navHeader {
                position: relative;
                width: 100%;
                height: 10vh;
                margin: 0px;
                margin-bottom: 0;
                background: var(--wp-admin-theme-color-darker-10);
            }
            
            .navbar {
                width: 100%;
                height: 100%;
                background: var(--wp-admin-theme-color-darker-10);
                display: flex;
                overflow: hidden;
                text-align: center;
                align-items: center;
                justify-content: center;
                padding: 10px;
            }
            
            .navbar h1 {
                color: #fff;
                font-size: 2rem;
                font-family: 'Lobster', 'hanh', 'sans-serif';
                text-shadow: 1px 1px 8px rgba(0, 0, 0, 1);
                width: 50%;
            }
            
            .logo {
                padding: 5px;
                height: auto !important;
                position: absolute;
                left: 3%;
                border-radius: 10px;
                border: 1px solid #fff;
                align-items: center;
                justify-content: center;
                color: #fff;
            }
            
            .menu-btn-container {
                color: white;
                position: absolute;
                left: 3%;
                top: 3vh;
            }
            
            .dropbtn {
                background-color: var(--wp-admin-theme-color);
                color: white;
                border-radius: 25px;
                padding: 16px;
                font-size: 16px;
                outline: none;
                border: none;
            }
            
            .dropdown-menu {
                position: absolute;
                right: 3%;
                display: inline-block;
            }
            
            .dropdown-content {
                display: none;
                top: 4vh;
                right: 3%;
                position: absolute;
                background-color: #f1f1f1;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
                z-index: 1;
            }
            
            .dropContentBtn {
                color: var(--wp-admin-theme-color-darkest);
                padding: 12px 5px;
                border: none;
                width: 100%;
                outline: none;
                display: block;
            }
            
            .dropContentBtn:hover {
                background: #ccc;
            }
            
            .dropdown-content a:hover {
                background-color: #ddd;
            }
            
            .dropdown-menu:hover .dropdown-content {
                display: block;
            }
            
            .dropdown-menu:hover .dropbtn:hover {
                background-color: white;
                color: var(--wp-admin-theme-color);
            }
            /* ==================main css========================= */
            
            .mainNav {
                position: relative;
                height: 5vh;
                margin-top: 0%;
                display: block;
            }
            
            .mainNavbar {
                width: 100%;
                height: 100%;
                background: var(--wp-admin-theme-color);
                box-shadow: 0px 15px 8px -15px #111;
            }
            
            .mainNavbar ul {
                display: flex;
                height: 100%;
                align-items: center;
            }
            
            .mainNavbar ul li {
                list-style: none;
                margin-left: 20px;
            }
            
            .mainNavbar ul li button {
                padding: 5px;
                background: none;
                border: none;
                outline: none;
                color: white;
                font-size: var(--max-width-font-size);
            }
            
            .mainNavbar ul li button:hover {
                background: white;
                color: var(--wp-admin-theme-color-darker-10);
            }
            
            .mainheader {
                display: flex;
                padding: 3vh 3%;
                width: 100%;
                justify-content: center;
                align-items: center;
            }
            
            .searchInput {
                outline: none;
                height: 3vh;
                width: 350px;
                padding: 5px 10px;
                border-radius: 10px;
                border: 1px solid #ccc;
                font-size: 18px;
            }
            
            .menuGrammar {
                margin: 20px;
                display: flex;
            }
            
            .menu-btn-container {
                display: none;
            }
            
            .sidenav {
                height: 100%;
                width: 0;
                position: fixed;
                z-index: 1;
                top: 0;
                left: 0;
                background-color: #fff;
                overflow-x: hidden;
                transition: 0.5s;
                padding-top: 60px;
                /* padding-left: 20px; */
            }
            
            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }
            
            .sidebar {
                overflow-x: hidden;
                border: 1px solid #ccc;
                display: block;
                border-radius: 10px;
                width: 20%;
                box-shadow: 0px 3px 5px #ccc;
            }
            
            .sidebar .heading {
                padding: 10px 0px;
                color: #fff;
                position: relative;
                margin: 0;
                text-align: center;
                background-color: var(--wp-admin-theme-color);
                text-shadow: 0px 1px 0px rgba(0, 0, 0, 1);
            }
            
            .card {
                font-size: var(--max-width-font-size);
                font-weight: 400;
                padding: 30px;
                line-height: 1.5;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                transition: 0.3s;
                margin-bottom: 30px;
            }
            
            .card:hover {
                box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            }
            
            .article {
                /* padding: 0 20px; */
                width: 100%;
            }
            
            .sidebar p,
            .sidenav p {
                color: var(--wp-admin-theme-color-darkest);
                position: relative;
                display: block;
                width: 100%;
                font-weight: bold;
                text-shadow: 0px 0.5px 0px rgba(0, 0, 0, 1);
                margin-bottom: 0;
                padding-left: 20px;
            }
            
            .sidebar ul,
            .sidenav ul {
                margin: 0%;
                padding: 0;
                list-style-type: none;
            }
            
            .sidebar ul li,
            .sidenav ul li {
                position: relative;
                display: block;
                padding: 10px;
                border-bottom: 1px dotted #bbb;
                color: var(--wp-admin-theme-color-darker-10);
                list-style-type: inherit;
            }
            
            .sidebarBtn {
                line-height: 1;
                display: inline-block;
                padding: 0 10px;
                background: none;
                border: none;
                outline: none;
            }
            
            .sidebar ul li:hover,
            .sidenav ul li:hover {
                background: var(--gray);
            }
            
            .tables {
                margin: 0px auto;
                display: flex;
                flex-direction: column;
                height: auto !important;
                min-height: 0px !important;
                width: 70%;
            }
            
            .pre-btn {
                float: left;
                text-decoration: none;
                padding: 7px;
                color: #000;
            }
            
            .nxt-btn {
                float: right;
                text-decoration: none;
                padding: 7px;
                color: #000;
            }
            
            .nxt-btn:hover,
            .pre-btn:hover {
                transform: scale(1);
                background: var(--wp-admin-theme-color);
                color: #fff;
            }
            
            .tables table {
                margin: 20px 0px;
                border-collapse: collapse;
            }
            
            .tables th,
            td {
                border: 1px solid #ddd;
                padding: 5px;
                text-align: center;
            }
            /* ===================buttonn css===================== */
            
            .btn {
                outline: none;
                border: none;
                padding: 10px 10px;
                border-radius: 5px;
                font-size: 18px;
                font-family: 'Rubik', sans-serif;
                background: #fff;
                margin: 5px;
                color: var(--wp-admin-theme-color-darkest);
                box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
            }
            
            .btn:hover {
                transform: scale(1.03);
            }
            
            .btnPrimary {
                background: var(--wp-admin-theme-color);
                color: #fff;
            }
            
            .grammarBtn {
                margin-top: 70vh;
                margin-left: 48%;
                padding: 30px 15px;
                background: none;
                background-color: white;
                border: none;
                border-radius: 50px;
                outline: none;
                color: #000;
            }
            
            .grammarBtn:hover {
                border: 2px solid #000000;
                transform: scale(1.1);
            }
            
            footer {
                background: var(--wp-admin-theme-color-darker-20);
                display: flex;
                /* flex-direction: column; */
                margin-bottom: 0;
                justify-content: center;
                align-items: center;
                color: #fff;
                padding: 30px 0px;
            }
            
            footer p {
                margin: 0;
                font-size: 16px;
                font-weight: 400;
            }
            
            footer p a {
                color: white;
            }
            
            footer p a:hover {
                text-decoration: none;
            }
            
            footer p i {
                margin-right: 10px;
                width: 20px;
                height: 20px;
            }
            
            .vl {
                border-left: 3px solid white;
                height: 200px;
                margin-left: 5%;
                margin-right: 5%;
            }
            
            .contactMsg {
                margin: 20px;
            }
            
            .contactForm {
                display: flex;
                flex-direction: column;
                width: 70%;
                /* align-items: center; */
                padding: 20px;
            }
            
            .contactForm h1 {
                color: var(--wp-admin-theme-color-darkest);
            }
            
            .contactForm input[type=text],
            input[type=email],
            textarea {
                outline: none;
                padding: 5px 10px;
                border-radius: 5px;
                border: 1px solid #ccc;
                font-size: 18px;
                width: 80%;
                box-sizing: border-box;
                resize: vertical;
                margin-bottom: 30px;
            }
            
            .contactForm button {
                width: 200px;
            }
            /* ===================== media query ====================== */
            
            @media only screen and (max-width: 1300px) {
                body,
                html {
                    font-size: var(--avg-width-font-size);
                }
                .homeHeader h1 {
                    font-size: 2.5rem;
                }
                .grammarBtn {
                    padding: 20px 10px;
                }
                .navbar h1 {
                    font-size: 1.5rem;
                }
                .btn {
                    font-size: 16px;
                    padding: 7px 5px;
                }
                .card,
                .mainNavbar ul li button {
                    font-size: 18px;
                }
                .contactForm {
                    width: 80%;
                }
            }
            
            @media only screen and (max-width: 900px) {
                body,
                html {
                    font-size: 16px;
                }
                .homeHeader h1 {
                    font-size: 1.5rem;
                }
                .grammarBtn {
                    padding: 20px 10px;
                }
                .navbar h1 {
                    font-size: 1.3rem;
                }
                .btn {
                    font-size: 14px;
                    padding: 5px 3px;
                }
                .menuGrammar {
                    display: block;
                }
                #sidebar {
                    display: none;
                }
                .tables {
                    width: 90%;
                }
                .searchInput {
                    width: 250px;
                }
                .logo {
                    display: none;
                }
                .menu-btn-container {
                    display: block;
                }
                .card {
                    font-size: 16px;
                }
                .mainNavbar ul li button {
                    font-size: 15px;
                    margin-left: 5px;
                }
                .contactForm {
                    width: 100%;
                }
            }