.bichig {
    margin: 2px 1px 0px 1px;
    padding: 0px;
    font-family: 'Mongolian White';
    font-size : 4rem;
    font-weight: 400;
    -moz-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -o-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: tb-lr;
    -webkit-text-orientation: sideways-right;
    text-justify: inter-ideograph;
    text-align:right;
    }
    .bichigw {
    margin: 2px 1px 0px 1px;
    padding: 0px;
    font-family: 'Mongolian Writing';
    font-size : 5rem;
    font-weight: 700;
    -moz-writing-mode: vertical-lr;
    writing-mode: vertical-lr;
    -webkit-writing-mode: vertical-lr;
    -o-writing-mode: vertical-lr;
    -ms-writing-mode: tb-lr;
    writing-mode: tb-lr;
    -webkit-text-orientation: sideways-right;
    text-justify: inter-ideograph;
    text-align:right;
    }

    .bichiga {
        margin: 2px 1px 0px 1px;
        padding: 0px;
        font-family: 'Mongolian Art';
        font-size : 3rem;
        -moz-writing-mode: vertical-lr;
        writing-mode: vertical-lr;
        -webkit-writing-mode: vertical-lr;
        -o-writing-mode: vertical-lr;
        -ms-writing-mode: tb-lr;
        writing-mode: tb-lr;
        -webkit-text-orientation: sideways-right;
        text-justify: inter-ideograph;
        text-align:right;
     }





/* ===================== media query ====================== */
  
     @media only screen and (max-width: 1300px){
        .bichig{
            font-size : 2.5rem;
        }
        .bichigw{
            font-size : 3.5rem;
        }
    }
    @media only screen and (max-width: 600px){
        .bichig{
            font-size : 2rem;
        }
        .bichigw{
            font-size : 3rem;
        }
    }